@page
@model WebApp.Pages.SubStations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubStation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubStation.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubStation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubStation.Acronym)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubStation.Acronym)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubStation.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubStation.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubStation.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubStation.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubStation.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubStation.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubStation.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubStation.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubStation.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
